RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+) - [PT,L]
RewriteRule ^(.*)$ give.html?do=$1 [QSA,L]
RewriteRule ^(.*)$ products.html?do=$1 [QSA,L]
